<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

    <appender name="log-console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%-d{yyyy-MM-dd HH:mm:ss,SSS} [%c]-[%p] %m%n" />
        </layout>
    </appender>

    <appender name="log-file" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="logs/efficiency-sdk.log" />
        <param name="Append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%-d{yyyy-MM-dd HH:mm:ss,SSS} [%c]-[%p] %m%n" />
        </layout>
    </appender>


    <category name="com.hundsun.efficiency">
        <priority value="debug" />
        <appender-ref ref="log-file" />
    </category>


    <root>
        <priority value="debug" />

        <appender-ref ref="log-console" />
        <appender-ref ref="log-file" />
    </root>
</log4j:configuration>